@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.swiper {
  padding: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide:active {
  cursor: grab;
}

.swiper-button-prev {
  background-color: #fff;
  margin-left: .5rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 2px 4px 0 0;
}

.swiper-button-prev::after {
  font-size: .85rem;
  font-weight: 700;
  content: url("/images/icon-previous.svg");
}

.swiper-button-next {
  background-color: #fff;
  margin-right: .5rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;  
  padding: 1px 0 0 1px;
}

.swiper-button-next::after {  
  font-size: .85rem;
  font-weight: 700;
  content: url("/images/icon-next.svg");  
}

.swiper-pagination-bullet-active {  
  background: #1D2025;
}
